/**
 * @file
 * Events 3 Up Feature
 *
 * Contains styles for Events 3 Up content object.
 */

.events3up {
  &__item {
    text-align: center;
  }

  &__date {
    width: 121px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid $color-black;

    @media (max-width: $break-large) {
      width: 82px;
      height: 82px;
    }

    @media (max-width: $break-medium) {
      width: 61px;
      height: 61px;
    }
  }

  h3 {
    margin-top: 0.5rem;
  }
}
