/**
 * @file
 * Story Display
 *
 * Contains styles for Story Display object.
 */

.story-display {
  &__wrap {
    display: flex;
    @media (max-width: $break-medium) {
      display: block;
    }
  }

  &__img {
    flex: 0 0 40%;
    margin: 0 0 1rem;

    @media (max-width: $break-medium) {
      flex: 0 0 auto;
    }

    img {
      width: 100%;
    }
  }

  &__content {
      flex: 0 0 60%;
      padding-left: 1.5rem;
    @media (max-width: $break-medium) {
      flex: 0 0 auto;
      padding-left: 0;
    }
  }

  &__quote {
    margin: 0 0 1rem;
  }

  &__title {
    margin: 0 0 0.125rem;
    font-size: 1.125rem;
  }

  &__subtitle {
    margin: 0 0 1rem;
    font-size: 0.875rem;
  }
}
