<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>XXXX</title>
  <meta name="description" content="XXXX">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../css/vendor.css"/>
  <link rel="stylesheet" href="../../css/main.css">
  <!-- OmniUpdate developer stylesheet -->
  <link rel="stylesheet" href="../../css/omniupdate.css">
  <!-- Custom CMS stylesheet -->
  <link rel="stylesheet" href="../../css/custom.css">
</head>


<body>
  <header role="banner">
    <a href="#main" class="skip-link visually-hidden">Skip to content</a>
  </header>

  <main role="main" id="main" class="main">
    <div class="container">
      <!-- Page content will go here -->
    </div>
  </main>

  <footer role="contentinfo">
  </footer>
  <script src="../../js/_compiled/vendor.js"></script>
  <script src="../../js/_compiled/main.js"></script>

</body>

</html>
