/**
 * @file
 * Typography
 * Base typography for the theme
 */

//## Headers
h1 {
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 1.21;

  @media (max-width: $break-large) {
    font-size: 2.625rem;
  }

  @media (max-width: $break-medium) {
    font-size: 2.125rem;
  }
}

h2 {
  margin: 60px 0 15px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.21;

  @media (max-width: $break-large) {
    margin: 40px 0 10px;
    font-size: 1.625rem;
  }

  @media (max-width: $break-medium) {
    margin: 35px 0 4px;
    font-size: 1.375rem;
  }
}

h3 {
  margin: 60px 0 15px;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.21;

  @media (min-width: $break-large) {
    margin: 40px 0 15px;
    font-size: 1.375rem;
  }

  @media (min-width: $break-medium) {
    margin: 35px 0 5px;
    font-size: 1.25rem;
  }

}

h4 {
  margin: 60px 0 15px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.21;

  @media (max-width: $break-large) {
    margin: 40px 0 11px;
    font-size: 1.25rem;
  }

  @media (max-width: $break-medium) {
    margin: 35px 0 6px;
    font-size: 1.125rem;
  }
}

h5 {
  margin: 60px 0 15px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.21;

  @media (max-width: $break-large) {
    margin: 40px 0 11px;
    font-size: 1.125rem;
  }

  @media (max-width: $break-medium) {
    margin: 35px 0 6px;
    font-size: 1.0625rem;
  }
}

h6 {
  margin: 60px 0 15px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.21;
  text-transform: uppercase;

  @media (max-width: $break-large) {
    margin: 40px 0 11px;
  }

  @media (max-width: $break-medium) {
    margin: 35px 0 6px;
    font-size: 1rem;
  }
}

//## Paragraphs
p {
  margin: 0 0 1em;

  &:empty {
    display: none;
  }
}

strong {
  font-weight: 700;
}
